@model UserLogin_Project.Models.UserLogin

@{
    ViewData["Title"] = "LoginView";
}

<h4>Welcome To User Login Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MailId" class="control-label"></label>
                <input asp-for="MailId" class="form-control" />
                <span asp-validation-for="MailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPassword" class="control-label"></label>
                <input asp-for="UPassword" class="form-control" />
                <span asp-validation-for="UPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NewRegister">New User Register</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
